pkgbase = dropdeck-git
	pkgdesc = Phone-style pull-down panel for Linux desktop (Quickshell)
	pkgver = r27.67aa5b0
	pkgrel = 1
	url = https://github.com/maria-rcks/dropdeck
	install = dropdeck-git.install
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = git
	depends = quickshell
	optdepends = networkmanager: Wi-Fi state and network controls via nmcli
	optdepends = rfkill: Airplane mode toggle
	optdepends = brightnessctl: Brightness controls
	optdepends = wireplumber: Volume controls via wpctl
	optdepends = playerctl: Media controls and metadata
	optdepends = bluez-utils: Bluetooth device list/connect via bluetoothctl
	optdepends = systemd: Power/session actions via loginctl/systemctl
	optdepends = wlsunset: Night light toggle (preferred)
	optdepends = gammastep: Night light toggle (fallback)
	provides = dropdeck
	conflicts = dropdeck
	source = dropdeck::git+https://github.com/maria-rcks/dropdeck.git
	source = dropdeck.service
	source = dropdeck@.service
	source = dropdeck.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dropdeck-git
